<div class='customer-account-tab-content__header js-customer-account-tab-content__header'>
  <label
    class='text text--regular customer-account-tab-content__back'
    for='customer-account-tab-item-{{ index }}'
  >
    <svg class='icon js-icon' width='16' height='16' aria-hidden='true'>
      <use xlink:href='#back-arrow'></use>
    </svg>
  </label>
  <span class='text text--regular customer-account-tab-content__title'>
    {{ title }}
  </span>
</div>