<address-edit-button
  data-address-item-id='address-{{ address_id }}'
  aria-label='{{ 'account.edit_address_item' | t }}'
  class='address-edit-button js-address-item__edit-btn'
>
  <button
    class='button button--outlined button--width-auto button--padding-sm'
    type='button'
    aria-disabled='false'
  >
    <svg class='icon js-icon' width='24' height='24'>
      <use xlink:href='#edit'></use>
    </svg>
  </button>
</address-edit-button>