{%- liquid
  assign title = 'account.add_address' | t
  if mode == 'edit'
    assign title = 'account.edit_address' | t
  endif
-%}
<address-drawer-header class='address-drawer-header'>
  <div class='address-drawer-header__body'>
    <span
      class='text text--headline text--h3 address-drawer-header__title'
      id='address-drawer-title-{{ address_id }}'
    >
      {{ title }}
    </span>
  </div>
  <button
    class='button button--outlined address-drawer-header__close-btn js-address-drawer-header__close-btn button--width-auto button--padding-md'
    type='button'
    aria-label='Close address drawer'
  >
    <svg
      class='icon js-icon'
      width='22'
      height='22'
      aria-hidden='true'
    >
      <use xlink:href='#close'></use>
    </svg>
  </button>
</address-drawer-header>