<div class='advantage'>
  <svg class='icon' width='16' height='16' aria-hidden='true'>
    <use xlink:href='#check'></use>
  </svg>
  <span class='text text--regular text--semibold'>
    {{ block.settings.text }}
  </span>
</div>
