<back-button
  aria-label='{{ 'general.back_button' | t }}'
  data-back-to='{{ back_to }}'
>
  <button
    class='button button--outlined back-button js-back-button button--width-auto button--padding-sm'
    type='button'
    aria-disabled='false'
  >
    <svg
      class='icon js-icon'
      width='24'
      height='24'
    >
      <use
        xlink:href='#back-arrow'
      ></use>
    </svg>
  </button>
</back-button>