<div class="cart-page-header js-cart-page-header">
  <span class="text text--headline text--h3">
    {{ 'cart.shopping_cart' | t }}
  </span>
  <span
    class="text text--headline text--h3 cart-page-header__count"
    aria-live="polite"
  >
    ({{ cart.item_count }})
  </span>
</div>