<trash-button
  data-cart-item-id="{{ cart_item_id }}"
  aria-label="{{ 'cart.delete_cart_item' | t }}"
  class="trash-button js-cart-item__trash-btn"
>
  <button
    class='button button--outlined button--width-auto button--padding-sm'
    type='button'
  >
    <svg class='icon' width='24' height='24'>
      <use xlink:href='#trash'></use>
    </svg>
  </button>
</trash-button>