{% comment %}
  This snippet displays a copyright section with customizable text.
  Variables used:
  - `text`: Main legal or informational text (e.g., 'Onlineshop für B2B und B2G Kunden.').
  - `footer_text`: Footer copyright text (e.g., '© Kommondo GmbH. All rights reserved.').
{% endcomment %}

<div class='copyright'>
  <p class='text text--small copyright__text text--center'>
    {{ text }}
  </p>
  <p class='text text--small copyright__text text--center'>
    {{ footer_text }}
  </p>
</div>
