{%- comment -%}
  Renders a filter dropdown component for list-type filters
  Accepts:
  - filter: object (required) - The filter object containing:
    - type: string - Type of filter ('list')
    - label: string - Label text for the dropdown
    - values: array - Array of filter values, each with:
    - label: string - Label text for the checkbox option
{%- endcomment -%}

{% if filter.type == 'list' %}
  <filter-dropdown class='filter-dropdown'>
    <div class='filter-dropdown__inner'>
      <button
        id='filter_dropdown_1'
        class='button button--outlined filter-dropdown__button js-filter-dropdown__button button--width-auto button--padding-md'
        type='button'
        aria-label='Filter dropdown with 0 selected count'
        aria-expanded='false'
        aria-controls='filter_dropdown_1_menu'
      >
        <span class='button__text'>
          <span
            class='text text--regular filter-dropdown__label'
          >
            {{ filter.label }}
          </span>
          <span
            class='text text--small js-filter-dropdown__selected-count filter-dropdown__selected-count {% if filter.active_values.size == 0 %}filter-dropdown__selected-count--hidden{% endif %}'
            aria-live='polite'
          >
            {{ filter.active_values.size }}
          </span>
        </span>
        <svg
          class='icon js-icon'
          width='16'
          height='16'
          aria-hidden='true'
        >
          <use xlink:href='#dropdown-arrow'></use>
        </svg>
      </button>
      <ul
        id='filter_dropdown_1_menu'
        class='js-filter-dropdown__menu filter-dropdown__menu filter-dropdown__menu--hidden'
        aria-labelledby='filter_dropdown_1'
      >
        {% for value in filter.values %}
          <li class='filter-dropdown__list'>
            {% assign checkbox_id = 'filter-'
              | append: value.label
              | handleize
            %}
            {% assign checked = value.active %}

            {% render 'Checkbox',
              id: checkbox_id,
              name: value.param_name,
              label: value.label,
              value: value.value,
              checked: checked
            %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </filter-dropdown>
{% endif %}
