<div
  class='input mobile-menu__close js-mobile-menu__close input--width-auto'
>
  <input
    class='input__field'
    type='reset'
    value=''
    id='mobile-menu-close'
  />
</div>
{% render 'MobileMenuCheckbox',
  id: 'mobile-menu',
  level: 0
%}