<predictive-search>
  <div class='predictive-search'>
    <div
      class="predictive-search__overlay js-predictive-search__overlay predictive-search__overlay--hidden"
      role="dialog"
      aria-modal="true"
      aria-label="Predictive search overlay"
    ></div>
    <div
      class='search__suggestion-results js-search__suggestion-results search__suggestion-results--hidden'
      data-predictive-search-results
    >
    </div>
  </div>
</predictive-search>