{%-liquid
  assign min_value = filter.min_value.value | default: 0
  assign max_value = filter.max_value.value | default: 0
  assign range_max = filter.range_max | default: 0

  if min_value < 0
    assign min_value = 0
  endif

  if min_value > max_value
    assign min_value = max_value
  endif

  if range_max <= 0
    assign range_max = 0
  endif

  if max_value < 0
    assign max_value = 0
  endif

  if max_value == 0
    assign max_value = range_max
  endif

  assign min_value_display = min_value | times: 0.01
  assign max_value_display = max_value | times: 0.01
  assign range_max_display = range_max | times: 0.01
%}

<price-accordion-content class='price-accordion-content'>
  <div class='price-accordion-content__container'>
    {% render 'PriceRange',
      min_value: min_value,
      min_value_display: min_value_display,
      max_value: max_value,
      max_value_display: max_value_display,
      range_max: range_max,
      range_max_display: range_max_display
    %}
    {% render 'PriceSlider',
      min_value: min_value,
      min_value_display: min_value_display,
      max_value: max_value,
      max_value_display: max_value_display,
      range_max: range_max,
      range_max_display: range_max_display
    %}
  </div>
</price-accordion-content>
