<div class='suggestion-box-result__each'>
  <svg
    class='icon js-icon'
    width='16'
    height='16'
    aria-hidden='true'
  >
    <use xlink:href='#search-grey'></use>
  </svg>
  <a class='anchor text text--regular' href='{{ href }}' tabindex='-1'>
    <span
      class='text text--regular js-text'
      aria-label='{{ aria_label }}'
    >
      {{ title | escape }}
    </span>
  </a>
</div>