.secondary-nav-menu {
  display: none;
}

@media screen and (min-width: 1024px) {
  .secondary-nav-menu {
    display: block;
    background: var(--Colors-Grey-light, #eef2f5);
  }

  .secondary-nav-menu__inner {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }

  .secondary-nav-menu__list {
    display: flex;
    list-style: none;
    gap: 48px;
    padding: 12px 20px;
  }

  .secondary-nav-menu .sort-dropdown__button {
    border: none;
  }

  .secondary-nav-menu__item a {
    text-decoration: none;
    color: inherit;
  }
}
